<application
    android:allowBackup="true"
    android:label="Bdino Coffee"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher"
    android:supportsRtl="true">

    <!-- LAUNCHER: Splash -->
    <activity
        android:name=".SplashActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <!-- Ana ekran -->
    <activity
        android:name=".MainActivity"
        android:exported="false" />
</application>