<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.coffee"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/logo_bdino"
        android:roundIcon="@drawable/logo_bdino"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">
        
        <!-- LAUNCHER: Splash kök pakette -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Main kök pakette -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"/>
        
        <!-- Diğer ekranlar (sende zaten var) -->
        <activity android:name=".ui.RecipeActivity" android:exported="false"/>
        <activity android:name=".ui.RecipeDetailActivity" android:exported="false"/>

    </application>
</manifest>