<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Coffee Demo"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coffee">

        <!-- Splash: ilk açılan ekran -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Ana ekran -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Tarif listesi -->
        <activity
            android:name=".ui.RecipeActivity"
            android:exported="true" />

        <!-- Tarif detayı (kullanıyorsan açık kalsın) -->
        <activity
            android:name=".ui.RecipeDetailActivity"
            android:exported="true" />

    </application>
</manifest>